<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.projectpatory.mapper.MissingPetMapper">

<!--   게시글 목록 조회-->
    <select id="findByCursor"
            resultType="net.likelion.bebc25.projectpatory.dto.MissingPetListResponse">

        SELECT
        mpp.id,
        mpp.image_url AS imageUrl
        FROM missing_pet_post mpp

        <where>
            <if test="cursor != null">
                mpp.id &lt; #{cursor}
            </if>
        </where>

        ORDER BY mpp.id DESC
        LIMIT #{limit}

    </select>
<!-- 전체 게시글 개수-->
    <select id="countAll" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM missing_pet_post
    </select>

<!--   상세 게시글-->
    <select id="findDetailById"
            resultType="net.likelion.bebc25.projectpatory.dto.MissingPetDetailRow">

        SELECT
        mpp.id,

        m.id AS authorId,
        m.nickname AS authorNickname,
        m.profile_image AS authorProfileImage,

        mpp.missing_date AS missingDate,
        mpp.missing_address AS missingAddress,
        mpp.detail,
        mpp.image_url AS imageUrl,
        mpp.status,

        mpp.latitude,
        mpp.longitude,

        mpp.created_at AS createdAt,
        mpp.updated_at AS updatedAt

        FROM missing_pet_post mpp

        JOIN member m
        ON mpp.member_id = m.id

        WHERE mpp.id = #{id}
    </select>

    <!-- 상세 게시글 목격 제보 목록 -->
    <select id="findReportsByPostId"
            resultType="net.likelion.bebc25.projectpatory.dto.MissingPetReportRow">

        SELECT
        mpr.id,

        m.id AS reporterId,
        m.nickname AS reporterNickname,
        m.profile_image AS reporterProfileImage,

        mpr.address,
        mpr.detail,
        mpr.image_url AS imageUrl,

        mpr.sight_at AS sightAt,

        mpr.latitude,
        mpr.longitude,

        mpr.created_at AS createdAt

        FROM missing_pet_report mpr

        JOIN member m
        ON mpr.member_id = m.id

        WHERE mpr.missing_pet_post_id = #{missingPetPostId}

        ORDER BY mpr.created_at DESC

    </select>

    <!-- 실종 신고 등록 -->
    <insert id="insertMissingPet"
            parameterType="net.likelion.bebc25.projectpatory.domain.MissingPetPost"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO missing_pet_post (
        member_id,
        missing_date,
        missing_address,
        detail,
        image_url,
        status,
        latitude,
        longitude
        )

        VALUES (
        #{memberId},
        #{missingDate},
        #{missingAddress},
        #{detail},
        #{imageUrl},
        #{status},
        #{latitude},
        #{longitude}
        )

    </insert>

    <!-- 실종 신고 게시글 작성자 조회 -->
    <select id="findMemberIdByPostId"
            resultType="java.lang.Long">

        SELECT member_id
        FROM missing_pet_post
        WHERE id = #{id}

    </select>

    <!-- 실종 신고 게시글 수정 -->
    <update id="updateMissingPet"
            parameterType="net.likelion.bebc25.projectpatory.domain.MissingPetPost">

        UPDATE missing_pet_post

        SET
        missing_date = #{missingDate},
        missing_address = #{missingAddress},
        detail = #{detail},
        image_url = #{imageUrl},
        latitude = #{latitude},
        longitude = #{longitude},
        updated_at = CURRENT_TIMESTAMP

        WHERE id = #{id}
    </update>

    <!-- 실종 신고 현재 상태 조회 -->
    <select id="findStatusByPostId"
            resultType="java.lang.String">

        SELECT status
        FROM missing_pet_post
        WHERE id = #{id}

    </select>

    <!-- 실종 신고 상태 변경 -->
    <update id="updateMissingPetStatus">

        UPDATE missing_pet_post

        SET
        status = #{status},
        updated_at = CURRENT_TIMESTAMP

        WHERE id = #{id}

    </update>
</mapper>