<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.projectpatory.mapper.SubscriptionPaymentMapper">

    <insert id="createSubscriptionRecord">
        INSERT INTO subscription (member_id, target_member_id, plan_id, billing_key, next_billing_at)
        VALUES (#{memberId}, #{request.targetMemberId}, #{request.planId}, #{request.billingKey}, #{nextBillingAt})
    </insert>

    <update id="updateSubscriptionRecord">
        UPDATE subscription
        SET agreement = #{request.agreement}
        WHERE id = #{request.id}
    </update>

    <update id="cancelSubscription">
        UPDATE subscription
        SET status          = 'CANCELLED',
            ended_at        = CURDATE(),
            next_billing_at = null
        WHERE id = #{id}
    </update>

    <select id="getSubscriptionRecordById" resultType="net.likelion.bebc25.projectpatory.domain.SubscriptionRecord">
        SELECT *
        FROM subscription
        WHERE id = #{id}
    </select>

    <select id="getSubscriptionRecordsByMemberId"
            resultType="net.likelion.bebc25.projectpatory.domain.SubscriptionRecord">
        SELECT *
        FROM subscription
        WHERE member_id = #{memberId}
          AND status = 'ACTIVE'
    </select>

    <select id="getAllDueSubscriptionRecords" resultType="net.likelion.bebc25.projectpatory.domain.SubscriptionRecord">
        SELECT * FROM subscription
        WHERE status = 'ACTIVE' AND agreement = 1 AND next_billing_at &lt;= CURDATE()
    </select>

    <update id="renewNextBillingAt">
        UPDATE subscription
        SET next_billing_at = #{nextBillingAt}
        WHERE id = #{id}
    </update>
</mapper>
